.modal {
  z-index: 100;
  position: fixed;
  top: 2rem !important;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: rgb(231, 44, 220);
  background: linear-gradient(
    90deg,
    rgba(231, 44, 220, 0.9192051820728291) 0%,
    rgba(31, 224, 200, 0.76234243697479) 100%
  );
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal__header h2 {
  margin: 0.5rem;
  color: white !important;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
  text-align: center;
}

.modal__content p {
  text-align: center;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
