.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  /* width: 40rem;*/
  /* max-width: 80rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.child {
  flex-basis: 21%;
}

.place-list.center h2 {
  padding: 1rem;
}

.paginator {
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
}
/* .ant-pagination-text a {
  color: red !important;
} */
