@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
.place-item {
  margin: 1rem 1rem;
}

.card.barcelona-item__content {
  padding: 0 !important;
  background-image: url("https://i.imgur.com/6Jk8WR3.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100% !important;
  min-width: 19rem;
  background-position: center !important;
}

.DC-background {
  background: #59a3ad!important;
  background: linear-gradient(90deg,#50a0ab,#094281)!important;
}
.MC-background {
  background: -webkit-linear-gradient(to right, #2cbb62, #0f7870);  /* Chrome 10-25, Safari 5.1-6 */
  background: #11998e;
  background: linear-gradient(90deg,#2cbb62,#0f7870);
}
.DFC-background {
  background: #ffe000;
  background: -webkit-linear-gradient(90deg,#abb150,#8b7a02);
  background: linear-gradient(90deg,#abb150,#8b7a02);
}
.POR-background {
  background: #e65c00;
  background: linear-gradient(90deg,#c0a319,#cc5200);
  background: -webkit-linear-gradient(90deg,#c0a319,#cc5200);
}

.card.freeagent-item__content {
  padding: 0;
  background-image: url("https://i.imgur.com/kPx8oFr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 19rem;
  background-position: center;
}

.card.newManager-item__content {
  padding: 0;
  background-image: url("https://i.imgur.com/KvN3f6c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-width: 19rem;
  background-position: center;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vital-info {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.place-item__image {
  width: 100%;
  /* height: 12.5rem; */
  max-height: 80px;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  color: white;
  display: flex;
  margin-right: 1.5rem;
  border-bottom: 4px solid rgb(87, 87, 87);
}

.place-item__image img {

 /*  width: 100% !important;
  height: 100% !important; */
  margin-left: 1rem;
  width: 70px !important;
  height: 70px !important;
  /* object-fit: cover !important; */
}

/* .marketValue h4 {
  font-family: Roboto,cursive!important;
    margin-top: .9rem!important;
    color: #fff!important;
    font-weight: 700!important;
} */

.place-item__image h3 {

   color: white !important;
   font-weight: bolder !important;
   margin-top: 0.4em !important;
   font-family: "Roboto", sans-serif !important;
   font-size: 1.17em !important;

 }

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.9rem 0 !important;
  font-family: "Roboto", cursive !important;
  color: rgb(255, 255, 255);
}

.importe_clausula h4, .marketValue h4 {
  font-family: "Roboto", cursive !important;
  margin-top: 0.9rem !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgb(87, 87, 87);
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}
/* width */
::-webkit-scrollbar {
  width: 1.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(180, 179, 179);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129);
}
.validate {
  color:red;
  padding: 0.5rem;
}
.player_clause {
  padding: 1rem;
}
.map-container {
  max-height: 25rem !important;
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.container-clausula {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  justify-content: center;
}
.container-escudo {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  justify-content: center;
}
.container-marketValue {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  justify-content: center;
}
.POR {
  font-family: "Alfa Slab One", cursive !important;
  margin: 1rem;
  padding: 0.3rem;
  width: 4rem;
  text-align: center;
  /* max-height: 2rem; */
  background-color: rgb(241, 157, 89);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.MC {
  font-family: "Alfa Slab One", cursive !important;
  width: 4rem;
  margin: 1rem;
  text-align: center;
  padding: 0.3rem;
  background-color: rgb(93, 194, 115);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.DC {
  font-family: "Alfa Slab One", cursive !important;
  text-align: center;
  width: 4rem;
  margin: 1rem;
  padding: 0.3rem;
  background-color: rgb(79, 163, 241);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.DFC {
  font-family: "Alfa Slab One", cursive !important;
  margin: 1rem;
  text-align: center;
  width: 4rem;
  padding: 0.3rem;
  background-color: rgb(214, 201, 6);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.importe_clausula,
.marketValue {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 6rem;
  padding: 0.9rem;
}

.candado-img {
  margin-right: 0.4rem;
}

.descriptive-img {
  margin-right: 0.4rem;
  margin-top: 0.2rem;
  width: 100%;
}

.money-img {
  margin-left: 0.3rem;
  margin-top: 0.2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 20rem;
  }
}

@media (max-width: 446px) {
  .vital-info {
    max-width: 7.6rem;
  }
}
