
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.main-navigation__menu-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 3rem;
  height: 0.4rem;
  background: rgb(204, 204, 204);
  /* background: rgb(231, 44, 220);
  background: linear-gradient(
    90deg,
    rgba(231, 44, 220, 0.9192051820728291) 0%,
    rgba(31, 224, 200, 0.76234243697479) 100%
  ); */
}

.main-navigation__title {
  color: rgb(255, 255, 255);
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  
}

.main-navigation__title a {
  text-decoration: none !important;
  border-radius: 20px !important;
  padding: 1rem !important;
  background: linear-gradient(to right, #c712b8 0%, #54a4ee 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-family: "Alfa Slab One", cursive !important;
  font-style: italic !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
  font-size: 1.17em !important;
  font-weight: bolder !important;
}

.main-navigation__title {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 1392px) {
  /*768px min width*/
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
