@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.Presupuesto {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif !important;
  border-radius: 10px !important;
  width: 7rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: row !important;
  padding: 1rem !important;
  z-index: 1 !important;
  position: fixed !important;
  border-radius: 0px 10px 10px 0px !important;
  -webkit-border-radius: 0px 10px 10px 0px !important;
  -moz-border-radius: 0px 10px 10px 0px !important;
  -ms-border-radius: 0px 10px 10px 0px !important;
  -o-border-radius: 0px 10px 10px 0px !important;
}

.bucket-icon {
  margin-left: 0.4rem !important;
}

.bucket-icon img {
  vertical-align: middle !important;
}
