.search {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 20px;
  height: 3.3rem;
  width: 12rem;
  padding: 1rem;
  margin: 1rem;
  outline: 0;
  background-color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.label-container label {
  text-align: center;
  color: white;
  /* margin-bottom: -0.5rem; */
}
.label-container {
  /* margin-top: -1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
